:root {
  --color-bg: #F1CF6A;
  --color-bg-rgb: 241, 207, 106;
  --color-text: #000000;
  --color-text-rgb: 0, 0, 0;
  --color-border: #000000;
  --header-height: 10rem;
}

html,
	body {
		margin: 0;
		min-height: 100vh;
	}

body {
  font-family: 'EB Garamond', serif;
  background: var(--color-bg);
}

a, button, .transition-element {
  transition: opacity 0.2s;
}

a {
  color: inherit;
  color: var(--color-text) !important;
  text-decoration: none !important;
}
a:hover, a:focus {
  opacity: 0.8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Smokum', serif;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-text);
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
}
h2 {
  font-size: 3.5rem;
  line-height: 1.1;
  letter-spacing: -0.015em;
}
h3 {
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: -0.01em;
}
h4 {
  font-size: 2rem;
  line-height: 1.2;
}
h5 {
  font-size: 1.75rem;
  line-height: 1.2;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.2;
}

@media (max-width: 768px) {
  h1 { font-size: 2.5rem; }
  h2 { font-size: 2.25rem; }
  h3 { font-size: 2rem; }
  h4 { font-size: 1.75rem; }
  h5 { font-size: 1.5rem; }
  h6 { font-size: 1rem; }
}