@font-face {
    font-family: 'Ostrich Sans';
    src: url('/fonts/OstrichSans/OstrichSans-Heavy.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  

  
  body {
    font-family: 'EB Garamond', serif;
    background: var(--color-bg);
    transition: background 0.3s;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background: #18181b;
    }
  }

:root {
  --color-text: #18181b;
  --color-text-rgb: 24,24,27;
  --color-border: #18181b;
  --color-bg: #C23A2A;
  --header-height: 4.4rem;
}
@media (max-width: 700px) {
  :root {
    --header-height: 3.2rem;
  }
}

a {
  color: var(--color-text) !important;
  text-decoration: none !important;
  transition: opacity 0.2s;
}
a:hover, a:focus {
  opacity: 0.8;
}