---
import Layout from '../layouts/Layout.astro';
import Release from '../components/Release.astro';
import { getClient } from '../lib/sanityClient';
import { releasesQuery } from '../lib/queries';
const releases = await getClient().fetch(releasesQuery);
---

<Layout>
  <div class="music-releases">
    {releases.map((release) => (
      <Release {...release} />
    ))}
  </div>
</Layout>

<style>
.music-releases {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
</style> 