---
export interface Props {
  href: string;
  text: string;
  target?: string;
  rel?: string;
}

const { href, text, target, rel } = Astro.props;
---

<a 
  href={href} 
  class="btn" 
  target={target} 
  rel={rel}
>
  <span class="btn-text">{text}</span>
</a>